@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Updated html  some changing .</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
</div>
